<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>La caisse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">La caisse</ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-list >
      <ion-item>
        <ion-label><h1>XXX
          <ion-text>CFAe</ion-text>
        </h1></ion-label>
      </ion-item>
      <ion-item>
        <ion-row>
          <ion-label>Trésorier: "name"   </ion-label>
        </ion-row>
      </ion-item>
    </ion-list>
  
    <ion-list [inset]="true">
      <ion-text style="padding-left: 4px;">Entrées</ion-text>
      <ion-item>
        <ion-label>
          <strong class="verticaMargin">'Name'</strong><br>
        <ion-text class="verticaMargin">'Amount'</ion-text><br>
        <ion-text class="verticaMargin">'Objet'</ion-text>
      </ion-label>
      </ion-item>
    </ion-list>
    <ion-list [inset]="true">
      <ion-text style="padding-left: 4px;">Sorties</ion-text>
      <ion-item>
        <ion-label>
        <ion-text class="verticaMargin">'Amount'</ion-text><br>
        <ion-text class="verticaMargin">'Objet'</ion-text>
      </ion-label>
      </ion-item>
    </ion-list>
  
    <!-- <ion-note color="medium" class="ion-margin-horizontal">
      Your comments will be kept anonymous and will only be used to improve the reliability of our products.</ion-note
    > -->
 

</ion-content>
