<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false">

      </ion-menu-button>
    </ion-buttons>
    <ion-title>Activite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">activite</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="flex-content">
    <div class="content_div">
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <div class="col_div"> <ion-card shape="round"
                style="width: 60px;shape-outside: -o-repeating-linear-gradient(); height: 60px; justify-content: center;border-style: none; align-items: center;display: flex; background: rgba(0, 191, 255, 0.1);"
                color="Tertiary">
                <ion-icon color="success" size="large" name="people"></ion-icon>
              </ion-card>
              <ion-label>
                Membres
                <p>Number</p>
              </ion-label>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="col_div">
              <ion-icon color="success" name="documents"></ion-icon>
              <ion-label>
                Projets
                <p>Number</p>
              </ion-label>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="col_div">
              <ion-icon color="success" name="calendar-outline"></ion-icon>
              <ion-label>
                Evènements
                <p>Number</p>
              </ion-label>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="col_div"> 
              <ion-icon color="success" name="calendar"></ion-icon>      
              <ion-label>
                Dons
                <p>Number</p>
              </ion-label>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="col_div"> 
              <ion-icon color="success" name="cash"></ion-icon>         
              <ion-label>
                La Caisse
                <p>Number</p>
              </ion-label>
            </div>
          </ion-col>   
        </ion-row>
      </ion-grid>
    </div>
  </div>
  
</ion-content>
