.content_div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
    .col_div{
        margin: 7px;
        height:  10em; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: rgb(255, 255, 255);
        box-shadow:0 3px 6px rgb(0, 0, 2);
        //  0px 3xp 6px ;
        border-radius: 20px;
    }
}