<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>
 


  <ion-card>
    <div class="div-avatar">
      <ion-avatar aria-hidden="true" slot="start" >
        <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Name</ion-label>
    </div>

    <ion-list>
      <ion-item class="ion-margin-vertical" [button]="true" (click)="goTo(1)">
        <ion-icon color="dark" aria-hidden="true" name="person" slot="start"></ion-icon>
        <ion-label>Editer profile</ion-label>
      </ion-item>
      <ion-item class="ion-margin-vertical" [button]="true" (click)="goTo(2)">
        <ion-icon color="dark" aria-hidden="true" name="cash" slot="start"></ion-icon>
        <ion-label>Porte monnaie</ion-label>
      </ion-item>
      <ion-item class="ion-margin-vertical" [button]="true" (click)="goTo(3)">
        <ion-icon color="dark"  name="list-circle" slot="start"></ion-icon>
        <ion-label>Mes Associations</ion-label>
      </ion-item>
      <ion-item class="ion-margin-vertical" [button]="true" (click)="goTo(4)">
        <ion-icon color="dark" aria-hidden="true" name="notifications-circle-outline" slot="start"></ion-icon>
        <ion-label>Mes Notifications</ion-label>
      </ion-item>
      <ion-item class="ion-margin-vertical" [button]="true" (click)="goTo(5)">
        <ion-icon color="dark" aria-hidden="true" name="information-circle" slot="start"></ion-icon>
        <ion-label>Condition d'utilisation</ion-label>
      </ion-item>
      <ion-item class="ion-margin-vertical" [button]="true" (click)="goTo(6)">
        <ion-icon color="dark" aria-hidden="true" name="help-circle" slot="start"></ion-icon>
        <ion-label>A propos</ion-label>
      </ion-item>
      <ion-item class="ion-margin-vertical" [button]="true" id="present-alert">
        <ion-icon color="dark" name="flag" aria-hidden="true" slot="start"></ion-icon>
        <ion-label>Signaler un problem</ion-label>
      </ion-item>
      <ion-item class="ion-margin-vertical" [button]="true" id="present-alert">
        <ion-icon color="dark" (click)="logOut()" name="log-out" aria-hidden="true" slot="start"></ion-icon>
        <ion-label>Se deconnecter</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-alert trigger="present-alert" header="Please enter your info" [buttons]="alertButtons"
    [inputs]="alertInputs"></ion-alert>

</ion-content>