<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button title="">
      </ion-back-button>
    <ion-title>Création d'une Association</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Création d'une Association</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-content>
      <ion-item class="ion-margin-vertical">
        <ion-input label="Nom de l'associations" labelPlacement="floating"  type="text" color="dark"></ion-input>
      </ion-item>
      <ion-item class="ion-margin-vertical">
        <ion-input label="Siège" labelPlacement="floating"  type="text" color="dark"></ion-input>
      </ion-item>
      <ion-item class="ion-margin-vertical">
        <ion-input label="TEL" labelPlacement="floating"  type="number" color="dark"></ion-input>
      </ion-item>
      <ion-item class="ion-margin-vertical">
        <ion-input label="Email" labelPlacement="floating"  type="email" color="dark"></ion-input>
      </ion-item>
      <ion-item class="ion-margin-vertical">
        <ion-input label="Description" labelPlacement="floating"  type="textarea" color="dark"></ion-input>
      </ion-item>       
    </ion-card-content>
  </ion-card>
  <ion-button size="full" (click)="validLog()">VALIDER</ion-button>
  
</ion-content>
