.header-div{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30vh;
    will-change: transform;
}


.projets-header{
    font-weight: bold;
    justify-content: space-between;
    display: flex;
    margin: 15px 5px 9px 5px;    
} 
swiper-container {   
    swiper-slide{
        .col_div {
            background: #fff;
            margin: 7px;
            height: 10em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            // background-color: rgb(255, 255, 255);
            box-shadow: 0 3px 6px rgba(0, 0, 2, 0.714);
            //  0px 3xp 6px ;
            border-radius: 20px;
    
            ion-card {

                width: 90px;
                height: 90px;
                justify-content: center;
                border-style: none;
                align-items: center;
                display: flex;
                border-radius: 100%;
                padding: 2px;
                background: rgba(0, 191, 255, 0.1);
                ion-icon{
                    width: 50px;
                    height: 50px;
                    color: tertiary;
                }
            }
    
            ion-label {
                font-size: large;
                font-weight: bold;
            }
        }
    }
}
.plus:hover{
  cursor: pointer;
}

// .unread-indicator {
//     background: var(--ion-color-primary);
  
//     width: 10px;
//     height: 10px;
  
//     border-radius: 100%;
  
//     position: absolute;
  
//     inset-inline-start: 12px;
//     top: 12px;
//   }
  
  .metadata-end-wrapper {
    position: absolute;
  
    top: 10px;
    inset-inline-end: 10px;
  
    font-size: 0.8rem;
    
    display: flex;
    align-items: center;
  }
  
//   ion-label strong {
//     display: block;
  
//     max-width: calc(100% - 60px);
  
//     overflow: hidden;
  
//     text-overflow: ellipsis;
//   }
  
  ion-label ion-note {
    font-size: 0.9rem;
  }
  ion-list{
    background: transparent;
    ion-item{
        margin-left: 7px;
        margin-right: 7px;        
        --background: rgba(254, 254, 254, 0.744);
        border-radius: 20px;
        box-shadow: 0 3px 3px rgba(104, 104, 104, 0.636);
    }
  }