<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="font-weight: bold;" >Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Accueil</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="projets-header">
    <ion-text>Projets  </ion-text> 
    <div class="plus">
      <ion-text (click)="gotoListeP()"> Plus ></ion-text>
    </div>

  </div>
  <swiper-container [slidesPerView]="2.5" [freeMode]="true" [spaceBetween]="10">
    <swiper-slide>
      <ion-col size="6">
        <div class="col_div">
          <ion-card>
            <ion-icon name="people"></ion-icon>
          </ion-card>
          <ion-label>
            Membres
            <p>Number</p>
          </ion-label>
        </div>
      </ion-col>
      1</swiper-slide>
    <swiper-slide>
      <ion-col size="6">
        <div class="col_div">
          <ion-card>
            <ion-icon name="people"></ion-icon>
          </ion-card>
          <ion-label>
            Membres
            <p>Number</p>
          </ion-label>
        </div>
      </ion-col>
      2</swiper-slide>
    <swiper-slide>
      <ion-col size="6">
        <div class="col_div">
          <ion-card>
            <ion-icon name="people"></ion-icon>
          </ion-card>
          <ion-label>
            Membres
            <p>Number</p>
          </ion-label>
        </div>
      </ion-col>
      3</swiper-slide>
    <swiper-slide>
      <ion-col size="6">
        <div class="col_div">
          <ion-card>
            <ion-icon name="people"></ion-icon>
          </ion-card>
          <ion-label>
            Membres
            <p>Number</p>
          </ion-label>
        </div>
      </ion-col>
      4</swiper-slide>
    <swiper-slide>
      <ion-col size="6">
        <div class="col_div">
          <ion-card>
            <ion-icon name="people"></ion-icon>
          </ion-card>
          <ion-label>
            Membres
            <p>Number</p>
          </ion-label>
        </div>
      </ion-col>
      5</swiper-slide>
  </swiper-container>
  <div class="projets-header">
    <ion-text>Evènement </ion-text> 
    <div class="plus">
      <ion-text (click)="gotoListeE()"> Plus ></ion-text>
    </div>
  </div>

  <swiper-container>
    <swiper-slide *ngFor="let tab of tabl ">
      <app-comp-accueil  (click)="logByPhon(tab)"></app-comp-accueil>
      {{tab}}
    </swiper-slide>
  </swiper-container>
  <div class="projets-header">
    <ion-text>Notification  </ion-text> 
    <div class="plus">
      <ion-text (click)="gotoListeN()"> Plus ></ion-text>
    </div>

  </div>
  <ion-list >
    <ion-item class="ion-margin-vertical" [button]="true" >
      
      <ion-label>
        <strong>Ionitron</strong>
        <ion-text>I have become sentient</ion-text><br />
        <ion-note color="medium" class="ion-text-wrap">That is all.</ion-note>
      </ion-label>
      <div class="metadata-end-wrapper" slot="end">
        <ion-note color="medium">03:44</ion-note>
        <ion-icon color="medium" name="chevron-forward"></ion-icon>
      </div>
    </ion-item>
    <ion-item class="ion-margin-vertical" [button]="true" >
      
      <ion-label>
        <strong>Ionitron</strong>
        <ion-text>I have become sentient</ion-text><br />
        <ion-note color="medium" class="ion-text-wrap">That is all.</ion-note>
      </ion-label>
      <div class="metadata-end-wrapper" slot="end">
        <ion-note color="medium">03:44</ion-note>
        <ion-icon color="medium" name="chevron-forward"></ion-icon>
      </div>
    </ion-item>
    <ion-item class="ion-margin-vertical" [button]="true" >
      <ion-label>
        <strong>Ionitron</strong>
        <ion-text>I have become sentient</ion-text><br />
        <ion-note color="medium" class="ion-text-wrap">That is all.</ion-note>
      </ion-label>
      <div class="metadata-end-wrapper" slot="end">
        <ion-note color="medium">03:44</ion-note>
        <ion-icon color="medium" name="chevron-forward"></ion-icon>
      </div>
    </ion-item> 
    <ion-item class="ion-margin-vertical" [button]="true" >
      <ion-label>
        <strong>Ionitron</strong>
        <ion-text>I have become sentient</ion-text><br />
        <ion-note color="medium" class="ion-text-wrap">That is all.</ion-note>
      </ion-label>
      <div class="metadata-end-wrapper" slot="end">
        <ion-note color="medium">03:44</ion-note>
        <ion-icon color="medium" name="chevron-forward"></ion-icon>
      </div>
    </ion-item> 
    <ion-item class="ion-margin-vertical" [button]="true" >
      <ion-label>
        <strong>Ionitron</strong>
        <ion-text>I have become sentient</ion-text><br />
        <ion-note color="medium" class="ion-text-wrap">That is all.</ion-note>
      </ion-label>
      <div class="metadata-end-wrapper" slot="end">
        <ion-note color="medium">03:44</ion-note>
        <ion-icon color="medium" name="chevron-forward"></ion-icon>
      </div>
    </ion-item> 
  </ion-list>
</ion-content>