<p>
  comp-accueil works!
</p>

<ion-col size="6">
  <div class="col_div">
    <ion-card  >
      <ion-icon name="people"></ion-icon>
    </ion-card>
    <ion-label>
      Membres
      <p>Number</p>
    </ion-label>
  </div>
</ion-col>
<ion-content></ion-content>