<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Associations</ion-title>
  </ion-toolbar>
</ion-header>
<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> Tap the button in the toolbar to open the menu. </ion-content>
</div>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Associations</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-searchbar id="searchBar" placeholder="Entrez le nom de l'associations"> </ion-searchbar>
  
  <div class="creatButton">
    <ion-button (click)="focusSearch()">Rejouindre  
    <ion-icon name="link"></ion-icon></ion-button>  
  </div>

  <div class="addButton">
    <ion-button  (click)="goTo()" >Creer   
    <ion-icon name="add"></ion-icon></ion-button>
  </div>
<ion-action-sheet trigger="open-action-sheet" header="Actions" [buttons]="actionSheetButtons"></ion-action-sheet>
</ion-content>
