

<ion-header>
	<ion-toolbar color="primary">
		<ion-title>My App</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	
		<ion-item fill="solid" class="ion-margin-bottom">
			<ion-input type="email"  [(ngModel)]="inputemail" placeholder="Email"></ion-input>
			<ion-note slot="error" *ngIf="(email?.dirty || email?.touched) && email?.errors"
				>Email is invalid</ion-note
			>
		</ion-item>
		<ion-item fill="solid" class="ion-margin-bottom">
			<ion-input type="password" [(ngModel)]="inputpassword" placeholder="Password" ></ion-input>
			<ion-note slot="error" *ngIf="(password?.dirty) && password?.errors"
				>Password needs to be 6 characters</ion-note
			>
		</ion-item>

		<ion-button type="submit" expand="block" [disabled]="!credentials.valid">Log in</ion-button>
		<ion-button type="button" expand="block" color="secondary" (click)="register()"
			>Create account</ion-button
		>

</ion-content>
