<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Activité</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Activité</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="flex-content">
    <div class="content_div">
      <ion-grid>
        <ion-row>
          <ion-col size="6" (click)="goTo(1)">
            <div class="col_div">
              <ion-card    >
                <ion-icon color="tertiary" name="people"></ion-icon>
              </ion-card>
              <ion-label>
                Membres
                <p>15</p>
              </ion-label>
            </div>
          </ion-col>
          <ion-col size="6" (click)="goTo(2)">
            <div class="col_div">
              <ion-card  >
                <ion-icon color="tertiary"  name="folder"></ion-icon>
              </ion-card>
              <ion-label>
                Projets
                <p>15</p>
              </ion-label>
            </div>
          </ion-col>
          <ion-col size="6" (click)="goTo(3)">
            <div class="col_div">
              <ion-card  >
                <ion-icon color="tertiary"  name="calendar"></ion-icon>
              </ion-card>
              <ion-label>
                Evènements
                <p>15</p>
              </ion-label>
            </div>
          </ion-col>
          <ion-col size="6" (click)="goTo(4)">
            <div class="col_div">
              <ion-card  >
                <ion-icon color="tertiary"  name="gift"></ion-icon>      
              </ion-card> 
              <ion-label>
                Dons
                <p>15</p>
              </ion-label>
            </div>
          </ion-col>
          <ion-col size="6" (click)="goTo(5)">
            <div class="col_div">
              <ion-card  >
                <ion-icon color="tertiary"  name="cash"></ion-icon>         
              </ion-card> 
              <ion-label>
                La Caisse
                <p>15</p>
              </ion-label>
            </div>
          </ion-col>   
          <ion-col size="6" (click)="goTo(6)">
            <div class="col_div" >
              <ion-card >
                <ion-icon color="tertiary"  name="documents"></ion-icon>         
              </ion-card> 
              <ion-label>
                Documents
                <p>15</p>
              </ion-label>
            </div>
          </ion-col>   
        </ion-row>
      </ion-grid>
    </div>
  </div>
  
</ion-content>
