<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-item class="ion-margin-vertical">
        <ion-input label="Nom" labelPlacement="floating"  type="text" color="dark"></ion-input>
      </ion-item>
      <ion-item class="ion-margin-vertical">
        <ion-input label="Prenom" labelPlacement="floating"  type="text" color="dark"></ion-input>
      </ion-item>
      <ion-item class="ion-margin-vertical">
        <ion-input label="Date de naissance" labelPlacement="floating"  type="Date" color="dark"></ion-input>
      </ion-item>
      <ion-radio-group value="start">
        <ion-list-header>
          <ion-label>
            Sex
          </ion-label>
        </ion-list-header>
        <ion-item>
          <ion-item lines="none">
            <ion-radio value="0" slot="start" >Masculin</ion-radio>
            <ion-radio value="1"  slot="start" >Feminin</ion-radio>
          </ion-item>

        </ion-item>
      </ion-radio-group> 
      <ion-item class="ion-margin-vertical">
        <ion-input label="Adresse" labelPlacement="floating"  type="text" color="dark"></ion-input>
      </ion-item>
      <ion-item class="ion-margin-vertical">
        <ion-input label="TEL" labelPlacement="floating"  type="number" color="dark"></ion-input>
      </ion-item>
      <ion-item class="ion-margin-vertical">
        <ion-input label="Email" labelPlacement="floating"  type="email" color="dark"></ion-input>
      </ion-item>
      <ion-radio-group value="start">
        <ion-list-header>
          <ion-label style="font-size: medium;" >
            Statu
          </ion-label>
        </ion-list-header>
        <ion-item>
          <ion-item lines="none">
            <ion-radio value="0" slot="start" >Celibataire</ion-radio>
            <ion-radio value="1"  slot="start" >Marié</ion-radio>
          </ion-item>
        </ion-item>
      </ion-radio-group> 
      
    </ion-card-content>
  </ion-card>
  <ion-button size="full">MODIFIER</ion-button>
  
</ion-content>
